	<footer class="main">

			<section>
				<h2>Contact</h2>
				<ul>
					<li>
						info@owkis.nl
					</li>
					<li>
						<a href="https://www.instagram.com/opwiekanikstemmen/">Instagram</a>
					</li>
					<li>
						<a href="https://www.facebook.com/opwiekanikstemmen/">Facebook</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/opwiekanikstemmen/">LinkedIn</a>
					</li>
					<li>
						<a href="https://twitter.com/dekandidaten">X (voorheen Twitter)</a>
					</li>
				</ul>
			</section>

			<section>
				<h2>Sitemap</h2>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/faq">FAQ</a>
					</li>
					<li>
						<a href="/over">Over</a>
					</li>
					<li>
						<a href="/privacy">Privacy</a>
					</li>
				</ul>
			</section>

			<section>
				<h2>Cookies</h2>
				<p>We plaatsen geen cookies.</p>
				<p><a href="/privacy">Ons privacybeleid <span aria-hidden="true">-></span></a></p>
			</section>

			<section>
				<h2>Data</h2>
				<p>We publiceren de <a href="https://github.com/Opwiekanikstemmen-nl/data">data op GitHub</a>.</p>
			</section>

	</footer>
</html>